CONNECTION_STRING_MONGODB_M40=mongodb+srv://eypi:ZIfIg2cUR9udGmKy@eypi-m40.kmf0t.azure.mongodb.net/eypi?w~majority
CONNECTION_STRING_MONGODB_M30=mongodb+srv://eypi:ZIfIg2cUR9udGmKy@eypi-m30.kmf0t.azure.mongodb.net/eypi?w~majority
CONNECTION_STRING_COSMOSDB_1000=mongodb://eypi:ZJvPTe0JuDjWstGHuSic9d0RcrZn5jYrx6gltpWOpFAmnuM3C7ZKbAaE6Upr10sklTpuIJKTR8977uTPdjdFbQ==@eypi.mongo.cosmos.azure.com:10255/?ssl~true&replicaSet=globaldb&retrywrites~false&maxIdleTimeMS~120000&appName~@eypi@
TEST_RUN=MONGODB_M30
DATA_DIR=~/data/mongodb/eypi
MONGOIMPORT=/usr/local/m/versions/4.2.7/bin/mongoimport
MONGOEXPORT=/usr/local/m/versions/4.2.7/bin/mongoexport
DOTNET=/usr/local/share/dotnet/dotnet
