# The various options for connection strings
CONNECTION_STRING_MONGODB_M40=mongodb+srv://eypi:<password>@rpi-sensor-data.ifxxs.mongodb.net/eypi_sample?retryWrites~true&w~majority
# Conn string to write to in concurrency test
CONNECTION_STRING_MONGODB_ALT=mongodb+srv://eypi:<password>@rpi-sensor-data.ifxxs.mongodb.net/eypi_sample2?retryWrites~true&w~majority
CONNECTION_STRING_MONGODB_M30=mongodb+srv://eypi:<password>y@rpi-sensor-data.ifxxs.mongodb.net/eypi_sample?retryWrites~true&w~majority
CONNECTION_STRING_COSMOSDB_1000=conn_str

# Which connection string to use
TEST_RUN=MONGODB_M40

# Location of the Sample CSV files
DATA_DIR=/Users/james/data/mongodb/eypi/sample

# Location of the MongoDB Import / Export tools
MONGOIMPORT=/usr/local/m/versions/4.2.7/bin/mongoimport
MONGOEXPORT=/usr/local/m/versions/4.2.7/bin/mongoexport

# Installation directory of dotnet core executable
DOTNET=/usr/local/share/dotnet/dotnet

# Tests to run
TEST_INSTANCE_IDS=1,2
