MONGODB_CONNECTION_STRING=mongodb+srv://eypi:ZIfIg2cUR9udGmKy@ey-pi-ifxxs.mongodb.net/eypi?w~majority
DATA_DIR=~/data/mongodb/eypi
MONGOIMPORT=/usr/local/m/versions/4.2.7/bin/mongoimport
DOTNET=/usr/local/share/dotnet/dotnet
